.container{
    width: 100vw;
    display: grid;
    position: relative;
    height: 100vh;
    grid-template-rows: min-content;
    overflow-y: auto;
    scrollbar-width: none;
    justify-content: center;
    overflow-x: hidden;
}

.menuBtn{
    width: 20vh;
    font-size: 1.4rem;
    height: auto;
}

.menuNavigationContainer{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 2vw;
}

.foodGrid{
    justify-items: center;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 1vw;
    position: relative;
    margin: 0 2vw;
    padding-bottom: 5vw;
}

.food{
    position: relative;
    max-width: 25vw;
    max-height: fit-content;
    border: 10px white solid;
    display: grid;
    align-items: center;
    text-align: center;
    margin-bottom: 15vh;
}

.foodName{}

.foodImg{
    width: 25vw;
    height: auto;
}

.foodIngredients{
    font-size: 30px;
    list-style: none;
}

.foodPrice{}

.menuContent{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: baseline;
    align-self: center;
    border: solid black 6px;
    left: 0;
    backdrop-filter: blur(10px);
}